.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;

  @media (max-width: 900px) {
    height: auto;
    padding: 11rem 0;
  }
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    height: 65rem;
    position: relative;
  
    @media (max-width: 900px) {
      flex-direction: column;
      text-align: center;
      height: auto;
      gap: 2rem;
    }
}

.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;

  h1 {
    font-size: 5.5rem;
    line-height: 1.2;
    color: black;
    margin-bottom: 2rem;
    margin-top: 2rem;

    @media (max-width: 500px) {
      font-size: 4rem;
    }
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    color: black;
    line-height: 1.6;
  }

  span {
    display: flex;
    justify-content: start;
    gap: 1rem;
    margin: 2.5rem 0;
    cursor: pointer;

    @media (max-width: 900px) {
      justify-content: center;
      gap: 1.6rem;
    }

    a {
        font-size: 2.5rem;
        color: black;
    }

    i {
      transition: all 0.2s;
    }
  }

  img {
    position: absolute;
    width: 6rem;
    top: 8.7rem;
    right: 13rem;

    @media (max-width: 900px) {
      right: 3rem;
    }

    @media (max-width: 500px) {
      top: 6.4rem;
      right: 4rem;
      width: 4.5rem;
    }

    @media (max-width: 400px) {
      right: 3rem;
    }

    @media (max-width: 380px) {
      right: 3rem;
    }

    @media (max-width: 375px) {
      right: 1.7rem;
    }
  }
}

.hero-img {
  background-image: url("/src/assets/heroimg.png");
  width: 35rem;
  height: 35rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #2d2e32;

  @media (max-width: 500px) {
    width: 28rem;
    height: 28rem;
  }

  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;

  @keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }
}
