@import "globals";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: white;
}

html {
    overflow-x: hidden;
    --primary-color: rgb(8, 154, 227);
    font-size: 14px;
}
  
*,
*::before,
*::after {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
  max-width: 107rem;
  margin: 0 auto;
  padding: 0 4rem;
}




